extends layout

block content
  h1= title

  div(class='page')
    button#add-btn(class='btn' type='button')
      p= "Ajouter"

    include add-form.pug

  div(class= 'page', id= 'list')
    each result in values
      include new-element.pug