body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/pizza-wallpaper.jpg") no-repeat fixed;
  background-size: 100%;
}

a {
  color: #00B7FF;
}
h1 {
  width: 30%;
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  margin: 10px auto;
  padding: 1%;
  /*border: 1px solid #333333;*/
  border-radius: 10px;
  background-color: #FFFFFF;
}
.denomination {
  display: flex;
  flex-direction: row;
}

.title {
  display: inline;
  font-weight: bold;
}
div.logo {
  display: inline-block;
  margin: 5px;
  width: 32px;
  height: 32px;
}
div.logo.pizza {
  background-image: url("../images/pizza-logo.png");
}
div.logo.pates {
  background-image: url("../images/pates-logo.png");
}
.recipe {
  width: 75%;
}
.price {
  width: 15%;
  height: 35px;
  border-radius: 10px;
  background-color: teal;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
.price>p {
  margin: 0;
  line-height: 35px;
}

/*Ajout de pizza et formulaire*/
.btn {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: crimson;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.btn > p {
  margin: 0;
  line-height: 30px
}

div.container.add-form {
  display: none;
}

/* Modification*/
.fct-btn {
  margin: 5px;
  cursor: pointer;
}